<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html>
  <head>
    <title>Validação de CPF com turma 15C</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body class="container">
    <h2>Validação de CPF</h2>
    <hr>
    <form action="/validar-cpf/validar" method="POST">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input class="form-control" type="text" id="nome" name="nome" value="">
      </div>
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input class="form-control" type="text" id="cpf" name="cpf" value="">
      </div>
      <br>
      <div class="form-group">
        <!-- <div id="enviar">Este é um teste para validar com cucumber</div> -->
        <button class="btn btn-success">Enviar</button>
      </div>
    </form> 
  </body>
</html>
